.Description
  .Description__Contents
    %h1.Description__Contents__Title  FURIMAの特徴
    .Description__Contents__Border
    .Description__Contents__Box
      .Description__Contents__Boxes
        .Description__Contents__Box1
          = image_tag 'icon-01.png', alt: '画像1', height: '60%', width: '300px', class: 'Box1__image'
          .Description__Contents__Detail__Box
            %h2.Description__Contents__Detail__Box__Title  簡単に売り買いできる
            %h2.Description__Contents__Detail__Box__Description  スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
        .Description__Contents__Box2
          = image_tag 'icon-03.png', alt: '画像2', height: '60%', width: '300px', class: 'Box2__image'
          .Description__Contents__Detail__Box
            %h2.Description__Contents__Detail__Box__Title  売上金は即日振込みに対応
            %h2.Description__Contents__Detail__Box__Description  午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
        .Description__Contents__Box3
          = image_tag 'icon-04.png', alt: '画像3', height: '60%', width: '300px', class: 'Box3__image'
          .Description__Contents__Detail__Box
            %h2.Description__Contents__Detail__Box__Title  様々な支払いに対応
            %h2.Description__Contents__Detail__Box__Description  お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。