.under-field
  %ul.under-field__term
    %li.under-field__term__content
      %h2.under-field__term__content__title FURIMAについて
      %ul.under-field__term__content__text
        %li
          %a(href="#") 会社概要（運営会社）
        %li
          %a(href="#") プライバシーポリシー
        %li
          %a(href="#") FURIMA利用規約
        %li
          %a(href="#") ポイントに関する特約
    %li.under-field__term__content
      %h2.under-field__term__content__title FURIMAを見る
      %ul.under-field__term__content__text
        %li
          %a(href="#") カテゴリー一覧
        %li
          %a(href="#") ブランド一覧
    %li.under-field__term__content
      %h2.under-field__term__content__title ヘルプ＆ガイド
      %ul.under-field__term__content__text
        %li
          %a(href="#") FURIMAガイド
        %li
          %a(href="#") FURIMAロゴ利用ガイドライン
        %li
          %a(href="#") お知らせ
  .under-field__term__logo
    %a(href="/")
      = image_tag 'logo-white.png', alt: 'フッターロゴ', height: '46px', width: '180px', class: 'under-field__term__content__flogo'
      %p © FURIMA