.Complete__Contents
  = link_to '/' do
    = image_tag 'logo.png', alt: ',ロゴ', height: '50px', width: '170px', class: 'logo-complete'
  .Complete__Contents__Box
    %h1 この商品は売り切れました！
    = link_to "/"  do
      %button{type: "submit", class: "card__button"}
        .button__text 戻る
    
    