= render "home/upper_filed"
.wrapper
  .main
    .main__contents
      .main__contents__name (仮)
      .main__contents__body
        .main__contents__body__image
        .main__contents__body__sub
          .main__contents__body__sub__pic
      .main__contents__price (仮)
      .main__contents__user-comment
      .main__contents__items-table
        %table
          %tr
            %th
              出品者
            %td
          %tr
            %th
              カテゴリー
            %td
          %tr
            %th
              ブランド
            %td
          %tr
            %th
              商品サイズ
            %td
          %tr
            %th
              状態
            %td
          %tr
            %th
              配送料
            %td
          %tr
            %th
              発送地域
            %td
          %tr
            %th
              発送日
            %td
      .main__contents__comments-box
        .main__contents__comments-box__field
          %textarea.main__contents__comments-box__field__form
          %p.main__contents__comments-box__field__caution
            相手のことを考え丁寧なコメントを心がけましょう。
            %br
            不快な言葉遣いなどは利用制限や退会処分となることがあります。
          %button.main__contents__comments-box__btn{type: "submit"}
  = render "home/under_field"