* {
  box-sizing: border-box;
}

$border-Line: 1px solid whitesmoke;

.Content {
  height: 100vh;
  width: 100vw;
  overflow: scroll;
  background-color: whitesmoke;
  &__Whole {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  &__Header {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
  }
  &__Main {
    height: 100%;
    width: 50%;
    background-color: white;
    padding: 0 100px;
    &__Text {
      text-align: center;
      font-weight: bold;
      font-size: 20px;
      color: black;
      border-bottom: $border-Line;
      padding: 30px;
    }
    &__Item-infomation {
      display: flex;
      padding: 50px;
      border-bottom: $border-Line;
      &__Image {
        border-radius: 20px;
        width: 40%;
      }
      &__Detail {
        height: 150px;
        width: 60%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
      }
      &__Item-name {
        font-size: 20px;
        padding-bottom: 30px;
      }
      &__Item-price {
        font-size: 20px;
        font-weight: bold;
        border-bottom: $border-Line;
      }
    }
    &__Payment {
      height: 150px;
      display: flex;
      justify-content: space-around;
      // align-items: center;
      // flex-direction: column;
      border-bottom: $border-Line;
      padding: 10px;
      &__Text {
        height: 50px;
        width: 100%;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        padding: 5px;
        padding-bottom: 10px;
        display: flex;
        flex-direction: column;
      }
      &__Card {
        height: 50px;
        width: 100%;
        font-size: 15px;
        padding: 15px 0;
        &__Information {
          height: 100%;
          width: 100%;
          font-size: 15px;
        }
      }
      &__Choise {
        height: 100%;
        width: 50%;
        text-align: center;
        font-size: 17px;
        margin: 10px;
      }
    }
    &__User-infomation {
      height: 80px;
      display: flex;
      flex-direction: column;
      align-items: center;
      &__Box {
        width: 100%;
        padding: 10px;
        display: flex;
        justify-content: space-around;
        border-bottom: $border-Line;
      }
      &__Delivery-text {
        width: 50%;
        margin: 10px;
        font-weight: bold;
        font-size: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
      }
      &__Delivery-address {
        width: 50%;
        margin: 10px;
        font-size: 20px;
        text-align: center;
      }
      &__Address {
        text-align: center;
        font-size: 17px;
        margin: 10px;
        display: flex;
        align-items: center;
      }
    }
    &__Purchase-btn {
      height: 200px;
      padding: 10px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;

      &__Box1 {
        height: 40px;
        width: 200px;
        background-color: #3ccace;
        color: white;
        border-style: none;
        border-radius: 5px;
        opacity: 1;
        cursor: pointer;
        font-size: 15px;
      }
      &__Box2 {
        height: 50px;
        width: 200px;
        background-color: #3ccace;
        color: yellow;
        border-style: none;
        border-radius: 5px;
        opacity: 1;
        cursor: pointer;
      }
    }
  }
}
