.Pickup__Contents {
  //background-color: #f8f8f8;
  height: auto;
  width: auto;
  &__Title {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
  }
  &__Subtitle {
    color: #3ccace;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
  }
  &__Box {
    height: 40vh;
    margin: 0 15%;
    margin-bottom: 50px;
  }
  &__Lists {
    height: 100%;
    width: 100%;
    display: flex;
  }
  &__List1 {
    width: 20%;
    margin-right: 20px;
    &__Introduction {
      height: 40%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      background-color: whitesmoke;
      &__Left {
        width: 50%;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__Name {
          padding-bottom: 5px;
          display: block;
        }
        &__Plice {
          display: block;
          padding-bottom: 5px;
        }
        &__Tax {
          display: block;
          font-size: 15px;
        }
      }
      &__Right {
        height: 100%;
        width: 50%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
      }
    }
  }
  &__List2 {
    width: 20%;
    &__Introduction {
      height: 40%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      &__Left {
        width: 50%;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__Name {
          padding-bottom: 5px;
          display: block;
        }
        &__Plice {
          display: block;
          padding-bottom: 5px;
        }
        &__Tax {
          display: block;
          font-size: 15px;
        }
      }
      &__Right {
        height: 100%;
        width: 50%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
      }
    }
  }
  &__List3 {
    width: 20%;
    &__Introduction {
      height: 40%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      &__Left {
        width: 50%;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__Name {
          padding-bottom: 5px;
          display: block;
        }
        &__Plice {
          display: block;
          padding-bottom: 5px;
        }
        &__Tax {
          display: block;
          font-size: 15px;
        }
      }
      &__Right {
        height: 100%;
        width: 50%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
      }
    }
  }
  &__List4 {
    width: 20%;
    &__Introduction {
      height: 40%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      &__Left {
        width: 50%;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__Name {
          padding-bottom: 5px;
          display: block;
        }
        &__Plice {
          display: block;
          padding-bottom: 5px;
        }
        &__Tax {
          display: block;
          font-size: 15px;
        }
      }
      &__Right {
        height: 100%;
        width: 50%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
      }
    }
  }
  &__List5 {
    width: 20%;
    &__Introduction {
      height: 40%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      &__Left {
        width: 50%;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__Name {
          padding-bottom: 5px;
          display: block;
        }
        &__Plice {
          display: block;
          padding-bottom: 5px;
        }
        &__Tax {
          display: block;
          font-size: 15px;
        }
      }
      &__Right {
        height: 100%;
        width: 50%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
      }
    }
  }
}
