* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  overflow: scroll;
  width: 100vw;
  height: 100vh;
}

.upper-field {
  padding: 0 60px;
}

.upper-field__in {
  max-width: 1040px;
  width: 100vw;
  min-height: 82px;
  padding: 15px 0 0;
  margin: o auto;
}

.upper-field__in__main {
  height: 50.55px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.upper-field__in__main__logo {
  margin-top: 15px;
  padding-bottom: 10px;
  margin-right: 30px;
  border-radius: 4px;
}

.upper-field__in__main__search-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.upper-field__in__main__search-box__btn {
  width: 900px;
  height: 40px;
}

.upper-field__navigate {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  margin-bottom: 10px;
}

.upper-field__navigate__left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
}

.upper-field__navigate__left-side__item {
  background-color: #fff;
}

.upper-field__navigate__left-side__item li {
  width: 120px;
  display: inline-block;
  list-style-type: none;
  position: relative;
}

.upper-field__navigate__left-side__item a {
  background-color: #fff;
  color: black;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  display: block;
}

.upper-field__navigate__left-side__item a:hover {
  color: orange;
}

.upper-field__navigate__left-side__item ul {
  margin: 0;
  padding: 0;
  display: none;
  position: absolute;
  z-index: 1;
}

.upper-field__navigate__left-side__item ul li {
  width: 250px;
  border-top: 0.5px solid #ebeef1;
}

.upper-field__navigate__left-side__item ul li a {
  line-height: 35px;
  text-align: left;
  padding-left: 5px;
  font-weight: normal;
}

.upper-field__navigate__left-side__item ul li a:hover {
  color: orange;
}

.upper-field__navigate__left-side__item ul ul {
  margin: 0px;
  padding: 0px;
  display: none;
  position: absolute;
  top: -1px;
  left: 100%;
}

.upper-field__navigate__left-side__bland {
  padding: 0 0 0 16px;
}

.upper-field__navigate__left-side a:hover {
  color: orange;
  -webkit-animation: menu 1s;
          animation: menu 1s;
}

.upper-field__navigate__left-side__glances {
  padding: 0 0 0 16px;
}

.upper-field__navigate__left-side a:hover {
  color: orange;
  -webkit-animation: menu 1s;
          animation: menu 1s;
}

.upper-field__navigate__right-side {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.upper-field__navigate__right-side__login {
  color: #333;
  line-height: 38px;
  margin-right: 30px;
}

.upper-field__navigate__right-side__login a:hover {
  color: orange;
  -webkit-animation: menu 1s;
          animation: menu 1s;
}

.upper-field__navigate__right-side__login a {
  color: #333;
  text-decoration: none;
}

.upper-field__navigate__right-side__register {
  color: #333;
  line-height: 38px;
  padding: 0 0 0 16px;
}

.upper-field__navigate__right-side__register a:hover {
  color: orange;
  -webkit-animation: menu 1s;
          animation: menu 1s;
}

.upper-field__navigate__right-side__register a {
  color: #333;
  text-decoration: none;
}

@-webkit-keyframes menu {
  50% {
    font-size: 18px;
  }
  100% {
    font-size: 14px;
  }
}

@keyframes menu {
  50% {
    font-size: 18px;
  }
  100% {
    font-size: 14px;
  }
}

.main-field {
  background-color: white;
  width: 100vw;
}

.main-field__photo {
  height: 560px;
  width: 100%;
  background-color: white;
  background-image: image-url("bg-mainVisual-pict_pc");
  background-size: cover;
  background-position: top center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.main-field__photo__content {
  max-width: 1220px;
  margin-left: 60px;
}

.main-field__photo__content__title {
  color: #fff;
  font-size: 60px;
  line-height: 1.2;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.main-field__photo__content__text {
  font-size: 18px;
  color: #fff;
  line-height: 1.7;
  margin: 25px 0 0 0;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.main-field__photo__content__btn {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-field__intro {
  width: 100vw;
  height: 450px;
  padding: 60px 20px;
}

.main-field__intro__title {
  font-size: 26px;
  line-height: 1.4;
  font-weight: bold;
  text-align: center;
  margin-bottom: 25px;
  padding-bottom: 15px;
  position: relative;
}

.main-field__intro__title::after {
  content: "";
  width: 70px;
  height: 4px;
  background-color: #3CCACE;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.main-field__intro__lists {
  max-width: 1220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.main-field__intro__lists__list {
  width: 30%;
  margin: 16px 5% 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-field__second {
  width: 100vw;
  height: 400px;
  background-image: image-url("bg-topMiddleDl-pict.jpg");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.main-field__second__content {
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  text-align: left;
  width: 100%;
  margin: 0 auto;
}

.main-field__second__content__title {
  font-size: 27px;
  font-weight: bold;
  line-height: 1.4;
}

.main-field__second__content__text {
  font-size: 18px;
  margin: 20px 0 30px;
}

.main-field__feature {
  padding: 60px 100px;
  background-color: #fff;
}

.main-field__feature__title {
  font-size: 26px;
  line-height: 1.4;
  font-weight: bold;
  text-align: center;
  margin-bottom: 25px;
  padding-bottom: 15px;
  position: relative;
}

.main-field__feature__title::after {
  content: "";
  width: 70px;
  height: 4px;
  background-color: #3CCACE;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.main-field__feature__lists {
  max-width: 1060px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-field__feature__lists__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(1 / 3 * 100%);
  text-align: center;
  padding: 0 20px;
}

.main-field__feature__lists__list__pct {
  width: 70%;
  margin: 0 auto;
  line-height: 120px;
}

.main-field__feature__lists__list__title {
  margin: 38px 0 10px;
  font-size: 19px;
  font-weight: bold;
}

.main-field__feature__lists__list__text {
  margin: 0 0 40px;
  font-size: 17px;
  text-align: left;
}

.app-area {
  padding: 100px 40px;
  background-image: image-url("bg-appBanner-pict");
  background-size: cover;
  background-position: center;
  position: relative;
}

.app-area__in {
  color: #fff;
  text-align: center;
}

.app-area__in__title {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.4;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.app-area__in__text {
  font-size: 35px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.app-area__in__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 24px 0 0 0;
}

.app-area__in__btn__app {
  margin-right: 10px;
  margin-top: 10px;
}

.app-area__in__btn__goo {
  margin-top: 10px;
}

.under-field {
  padding: 60px 0;
  color: #fff;
  background-color: #272727;
  text-align: center;
}

.under-field__term {
  max-width: 840px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.under-field__term__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(1 / 3 * 100%);
  margin: 0 2% 0 0;
}

.under-field__term__content__title {
  margin: 0 0 20px;
  font-size: 16px;
  font-weight: bold;
}

.under-field__term__content__text {
  display: list-item;
  line-height: normal;
}

.under-field__term__content__text__links {
  text-decoration: none;
}

.under-field__term__logo {
  max-width: 160px;
  width: 100%;
  margin: 0 auto;
}

.under-field__term__logo a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

*, :before, :after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  overflow-x: hidden;
}

[id='search-btn'] {
  position: absolute;
  left: -100vw;
}

[id='search-btn'] ~ * {
  --i: var(--pos, 1);
  --j: calc(1 - var(--i))
    ;
}

[id='search-btn']:checked ~ * {
  --pos: 0 ;
}

[for='search-btn'] {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  overflow: hidden;
  position: relative;
  z-index: 2;
  margin-left: -1.25em;
  margin-top: 5px;
  width: 5em;
  height: 5em;
  border-radius: 50%;
  -webkit-transform: translate(var(--pos, -10em)) rotate(45deg);
          transform: translate(var(--pos, -10em)) rotate(45deg);
  background: hsl(calc(1500 - var(--i)*260), calc(100% + var(--i)*85%), calc(49% + var(--i)*13%));
  text-indent: -100vw;
  -webkit-transition: 0.65s ease-out;
  transition: 0.65s ease-out;
  cursor: pointer;
}

[for='search-btn']:before, [for='search-btn']:after {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -0.8125em;
  width: 1.625em;
  height: 1.625em;
  -webkit-transition: inherit;
  transition: inherit;
  content: '';
}

[for='search-btn']:before {
  margin-top: -0.08125em;
  height: 0.20312em;
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
  -webkit-transform: translate(var(--pos, 0.40625em)) scalex(calc(1 - var(--i)*.5));
          transform: translate(var(--pos, 0.40625em)) scalex(calc(1 - var(--i)*.5));
  background: #0e1110;
}

[for='search-btn']:after {
  border: solid 0.20312em #0e1110;
  border-radius: calc(var(--i)*50%);
  -webkit-transform: translate(var(--pos, -0.40625em)) scalex(calc(var(--j)*0.125 + var(--i)));
          transform: translate(var(--pos, -0.40625em)) scalex(calc(var(--j)*0.125 + var(--i)));
  -webkit-box-shadow: inset 0 0 0 calc(var(--j)*0.8125em) #0e1110;
          box-shadow: inset 0 0 0 calc(var(--j)*0.8125em) #0e1110;
  -webkit-transition-property: border-radius, -webkit-transform, -webkit-box-shadow;
  transition-property: border-radius, -webkit-transform, -webkit-box-shadow;
  transition-property: border-radius, transform, box-shadow;
  transition-property: border-radius, transform, box-shadow, -webkit-transform, -webkit-box-shadow;
  -webkit-transition-timing-function: cubic-bezier(calc(var(--j)*.42), 0, calc(1 - var(--i)*.42), 1), cubic-bezier(calc(var(--i)*.42), 0, calc(1 - var(--j)*.42), 1);
          transition-timing-function: cubic-bezier(calc(var(--j)*.42), 0, calc(1 - var(--i)*.42), 1), cubic-bezier(calc(var(--i)*.42), 0, calc(1 - var(--j)*.42), 1);
}

[id='search-bar'] {
  margin-right: -1.25em;
  border: none;
  padding: 0 1em;
  margin-top: 20px;
  width: 500px;
  height: 3.25em;
  border-radius: 3.25em;
  -webkit-transform: translate(var(--pos, 10em));
          transform: translate(var(--pos, 10em));
  background: #b9f6f8;
  --cp: inset(-2em var(--pos, 100%) -2em -2em);
  -webkit-clip-path: var(--cp);
          clip-path: var(--cp);
  clip-path: var(--cp);
  color: #fff;
  font: 1em century gothic, verdana, arial, sans-serif;
  -webkit-transition: 0.65s;
  transition: 0.65s;
}

[id='search-bar']::-webkit-input-placeholder {
  opacity: .5;
  color: #393b3b;
  font-size: .875em;
  letter-spacing: 1px;
  text-shadow: 0 0 1px, 0 0 2px;
}

[id='search-bar']:-ms-input-placeholder {
  opacity: .5;
  color: #393b3b;
  font-size: .875em;
  letter-spacing: 1px;
  text-shadow: 0 0 1px, 0 0 2px;
}

[id='search-bar']::-ms-input-placeholder {
  opacity: .5;
  color: #393b3b;
  font-size: .875em;
  letter-spacing: 1px;
  text-shadow: 0 0 1px, 0 0 2px;
}

[id='search-bar']::placeholder {
  opacity: .5;
  color: #393b3b;
  font-size: .875em;
  letter-spacing: 1px;
  text-shadow: 0 0 1px, 0 0 2px;
}

[id='search-bar']:focus {
  outline: none;
  background: #80f3f7;
  color: #0e1110;
}

.exhibition-btn {
  width: 120px;
  height: 116px;
  background-color: #3ccace;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
}

.exhibition-btn__text {
  color: #fff;
  display: block;
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 5px;
}

.exhibition-btn__icon {
  width: 60%;
}

.fa-arrow-alt-circle-left {
  font-size: 50px;
  position: absolute;
  z-index: 100;
  left: -100px;
  top: 100px;
}

.fa-arrow-alt-circle-right {
  font-size: 50px;
  position: absolute;
  z-index: 100;
  right: -100px;
  top: 100px;
}
/*# sourceMappingURL=front.css.map */