* {
  box-sizing: border-box;
}

// 複数のプロパティを変数でまとめたものです。
@mixin LeftSecondContents {
  width: 116px;
  height: 116px;
  position: relative;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  text-align: center;
}

@mixin FixImage {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

@mixin LeftThirdContentsBox {
  display:flex;
  align-items: center;
  width: 370px;
  height: 63px;
  background: #ffffff;
}

@mixin LeftThirdContentsSmallBox {
  display:flex;
  align-items: center;
  width: 50%;
  height: 63px;
  background: #ffffff;
  border: 1px solid #ececec;
}
@mixin One { 
  padding-left: 12px;
  padding-right: 14px;
  font-size: 14px;
  font-weight: bold;
  color: #646166; 
}

@mixin Two {
  font-size: 12px;
  color: #646166;
  padding: 10px 10px 10px 15px;
}

@mixin Three {
  font-size: 12px;
  font-weight: bold;
  color: #646166;
}

@mixin MiddleBox {
  width: 82px;
  font-size: 14px;
  color: #646166;
  margin-left: 25px;
}

@mixin MiddleboxRight {
  text-align: left;
  font-size: 14px;
  color: #646166;
}

@mixin RightBox {
  display:flex;
  margin: 10px 0 20px 0;
  width: 110px;
  font-size: 10px;
  font-weight: bold;
  color: #b5b5b5;
  padding-top: 10px;
}

@mixin RightLine {
  display: flex;
  width: 480px;
  margin: 0 0 10px 0;
  padding-bottom: 10px;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
}

@mixin RightWritten {
  border: none;
  text-align: left;
  width: 370px;
  background: #ffffff;
  font-size: 14px;
  font-weight: normal;
  padding-left: 14px;
}

@mixin RightThird {
  padding-right: 10px;
  width: 190px;
}

@mixin RightBorder {
  display: flex;
  width: 480px;
  border-bottom: 1px solid #ececec;
}

@mixin SubmitBox {
  display: inline-block;
  text-decoration: none;
  border: 1px solid #ececec;
  background: linear-gradient(to bottom, #ffffff 0%,#ececec 100%);
  border-radius: 5px;
  color: #646166;
  padding: 5px 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}

@mixin SelectBox {
  background: linear-gradient(to bottom, #ffffff 0%, #ececec 100%);
  border:none;
  color: #646166;
  width: 178px;
}

//削除ボタン（第1引数：高さ 第2引数：位置 第3引数：padding縦 第4引数：padding横  第5引数：文字の大きさ ）
@mixin DeleteBtn($top,$left,$height,$width,$font-size){
  position: absolute;
  z-index: 10;
  top:$top;
  left: $left;
  border: 1px solid white;
  padding: $height $width;
  font-size: $font-size;
  color: white;
  background: #3CCACE;
  Cursor:pointer;
}

// ここからページコンテンツ

.Main_Container{
  background-color: #f6f6f7;
}

.Wrapper {
  width: 1060px!important;
  margin: 0 auto;
  padding: 30px 80px;
  min-height: 90%;
  color: #565656;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  background-color: #f6f6f7;
}

.Top {
  display: flex;
  align-items: flex-end;
  margin-left: 15px;
  h2 {
    font-size: 24px;
    font-weight: bold;
    color: #646166;
    margin-right: 50px;
  }
  p {
    // margin-top: 10px;
    font-size: 14px;
    color: #646166;
    margin-bottom: 1px;
  }
}

.WrapperContents {
  margin-top: 30px;
  display: flex;
  .LeftContents {
    width: 50vw;
    margin-left: 15px;
    &__FirstContent {
      margin-bottom: 15px;
      width: 370px;
      &__img {
        
        width: 370px;
        height: 370px;
        border: 1px solid #3CCACE;
        display:flex;
        img{
          @include FixImage;
        }
      }

      input{
        display:none;
      }


    }
      //新規画像登録時のバツアイコン（1枚目）
      #Delete_btn0{
        @include DeleteBtn(225px,553px,10px,30px,34px);  
      }

      //既存画像差し替え時のバツアイコン（1枚目）
      #Delete_btn_replacement_nil0{
        @include DeleteBtn(225px,553px,10px,30px,34px);  
      }    

    &__SecondContent {
      display: flex;
      width: 370px;

      input{
        display:none;
      }

      //新規画像登録時のバツアイコン（2枚目〜4枚目）
      #Delete_btn_replacement_nil1{
        @include DeleteBtn(auto,325px,0px,15px,24px);
      }
      #Delete_btn_replacement_nil2{
        @include DeleteBtn(auto,450px,0px,15px,24px);
      }
      #Delete_btn_replacement_nil3{
        @include DeleteBtn(auto,570px,0px,15px,24px);
      }

      //既存画像差し替え時のバツアイコン（2枚目〜4枚目）
      #Delete_btn1{
        @include DeleteBtn(auto,325px,0px,15px,24px);
      }
      #Delete_btn2{
        @include DeleteBtn(auto,450px,0px,15px,24px);
      }
      #Delete_btn3{
        @include DeleteBtn(auto,570px,0px,15px,24px);
      }




      &__Left {
        @include LeftSecondContents;
        margin-right: 15px;

        &__img{

            img{
              position:absolute;
              @include FixImage
              }
        }
        
      }
      &__Center {
        @include LeftSecondContents;
        margin-right: 15px;

        &__img{

            img{
              position:absolute;
              @include FixImage
              }
        }


      }
      &__Right {
        @include LeftSecondContents;

        &__img{

            img{
              position:absolute;
              @include FixImage
            }
        }

      }
    }
    &__ThirdContent {
      width: 370px;
      margin: 80px 0 50px 0;
      &__Top{
        @include LeftThirdContentsBox;
        border: 1px solid #ececec;
        &__Left {
          display: table-cell;
          align-items: center;
          padding-left: 14px;
          padding-right: 14px;
          font-size: 14px;
          font-weight: bold;
          color: #646166;
        }
        &__Center {
          font-size: 14px;
          color: #646166;
          padding-right: 10px;
          input {
            border: none;
            text-align: right;
            width: 220px;
            height: 40px;
            padding-right: 10px;
          }
        }
        &__Right{
          font-size: 14px;
          font-weight: bold;
          color: #646166;
        }
      }
      &__Bottom {
        @include LeftThirdContentsBox;
        &__Left {
          @include LeftThirdContentsSmallBox;
          &__One {
            @include One;
          }
          &__Two {
            @include Two;
          }
          &__Three {
            @include Three;
          }
        }
        &__Right {
          @include LeftThirdContentsSmallBox;
          &__One {
            @include One;
          }
          &__Two {
            @include Two;
          }
          &__Three{
            @include Three;
          }
        }
      }
    }
    &__FourthContent {
      width: 370px;
      &__Top {
        font-size: 14px;
        padding-top: 20px 0 0;
        font-weight: bold;
        color: #b5b5b5;
        margin-bottom: 25px;
      }
      &__MiddleBox {
        
        &__Price {
          @include LeftThirdContentsBox;
          border: 1px solid #ececec;
          &__Left {
            @include MiddleBox;
          }
          &__Right {
            @include MiddleboxRight;
          }
        }
        &__Amount {
          @include LeftThirdContentsBox;
          border: 1px solid #ececec;
          &__Left {
            @include MiddleBox;
          }
          &__Right {
            @include MiddleboxRight;
          }
        }
        &__Personal {
          @include LeftThirdContentsBox;
          border: 1px solid #ececec;
          &__Left {
            @include MiddleBox;
          }
          &__Right {
            @include MiddleboxRight;
            @include SubmitBox;
          }
        }
      }
      &__Bottom {
        text-align: right;
        margin-top: 10px;
        font-size: 14px;
        font-weight: bold;
        color: #36c2e0;
        // text-decoration: none;
      }
    }
  }
  .Main__right {
    width: 50vw;
    &__FirstContent{
      @include RightLine;
      &__Left {
        margin: 10px 0;
        @include RightBox;
      }
      &__Right {
        margin-top: 10px;
        font-size: 14px;
        input {
          @include RightWritten;
          height: 40px;
        }
      }
    }
    &__SecondContent {
      display: flex;
      &__Left {
        @include RightBox;
      }
      &__Right {
        margin-top: 10px;
        margin-bottom: 12px;
        font-size: 14px;
        padding-right: 10px;
        textarea {
          @include RightWritten;
          height: 300px;
        }
      }
    }
    &__ThirdContent {
      padding-top: 15px;
      padding-bottom: 20px;
      &__Category {
        @include RightBorder;
        &__Left {
          @include RightBox;
        }
        &__Right {
          @include RightThird ;
          @include SubmitBox;
          .select_line {
            @include SelectBox;
          }
        }
        .append__category {
          float:left;
          margin-left: -110px;
        }
        select {
          @include RightThird ;
          display: inline-block;
          text-decoration: none;
          border: 1px solid #ececec;
          background: linear-gradient(to bottom, #ffffff 0%,#ececec 100%);
          border-radius: 5px;
          color: #646166;
          padding: 5px 10px;
        }
        .second_line {
          margin-left: 110px;
          width: 190px;
        }
        .select_field {
          margin-left: 110px;
          width: 190px;
          padding-right: 10px;
          text-align: center;
          display: inline-block;
          text-decoration: none;
          border: 1px solid #ececec;
          background: linear-gradient(to bottom, #ffffff 0%, #ececec 100%);
          border-radius: 5px;
          color: #646166;
          padding: 5px 10px;
        }
      }
      &__Brand {
        @include RightBorder;
        &__Left {
          @include RightBox;
        }
        &__Right {
          @include RightThird ;
          @include SubmitBox;
          .select_line {
            @include SelectBox;
            width: 178px;
          }
        }
      }
      &__Size {
        @include RightBorder;
        &__Left {
          @include RightBox;
        }
        &__Right {
          @include RightThird ;
          @include SubmitBox;
          .select_line {
            @include SelectBox;
          }
        }
      }
      &__Status {
        @include RightBorder;
        &__Left {
          @include RightBox;
        }
        &__Right {
          @include RightThird ;
          @include SubmitBox;
          .select_line {
            @include SelectBox;
          }
        }
      }
      &__ShippingFee {
        @include RightBorder;
        &__Left {
          @include RightBox;
        }
        &__Right {
          @include RightThird ;
          @include SubmitBox;
          .select_line {
            @include SelectBox;
          }
        }
      }
      &__ShippingType {
        @include RightBorder;
        &__Left {
          @include RightBox;
        }
        &__Right {
          @include RightThird ;
          @include SubmitBox;
          .select_line {
            @include SelectBox;
          }
        }
      }
      &__ListedArea {
        @include RightBorder;
        &__Left {
          @include RightBox;
        }
        &__Right {
          @include RightThird ;
          @include SubmitBox;
          .select_line {
            @include SelectBox;
          }
        }
      }
      &__ShippingDay {
        @include RightBorder;
        &__Left {
          @include RightBox;
        }
        &__Right {
          @include RightThird ;
          @include SubmitBox;
          .select_line {
            @include SelectBox;
          }
        }
      }
    }
  }
}

//Inputボックスの非表示
.js-file_group{
  display:none;
}

//チェックボックスの非表示
.hidden-destroy{
    display:none;
}

//Inputボックスの非表示（新規追加→削除時）
#image-box{
  input{
  display:none;  
}
}
.Bottom {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  button {
    display: inline-block;
    color: lightslategray;
    border: 3px solid #36c2e0;
    background-color: white;
    height: 74px;
    width: 200px;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: ease-in-out 0.25s;
    span {
      transition: ease-in-out 0.25s;
    }
  }
  button:hover {
    background: #36c2e0;
    color: white;
    span {
      padding-left: 10px;
      color: white;
    }
  }
}
//スイッチ
.mid {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1em;
}

.rocker {
  display: inline-block;
  position: relative;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #888;
  width: 7em;
  height: 4em;
  overflow: hidden;
  border-bottom: 0.5em solid #eee;
}

.rocker-small {
  font-size: 0.75em;
  margin: 1em;
}
.rocker {
  &::before {
    content: "";
    position: absolute;
    top: 0.5em;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #999;
    border: 0.5em solid #eee;
    border-bottom: 0;
  }
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}
.switch-left, .switch-right {
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5em;
  width: 3em;
  transition: 0.2s;
}
.switch-left {
  height: 2.4em;
  width: 2.75em;
  left: 0.85em;
  bottom: 0.4em;
  background-color: #ddd;
  transform: rotate(15deg) skewX(15deg);
}
.switch-right {
  right: 0.5em;
  bottom: 0;
  background-color: #bd5757;
  color: #fff;
}
.switch-left::before, .switch-right::before {
  content: "";
  position: absolute;
  width: 0.4em;
  height: 2.45em;
  bottom: -0.45em;
  background-color: #ccc;
  transform: skewY(-65deg);
}
.switch-left::before {
  left: -0.4em;
}
.switch-right::before {
  right: -0.375em;
  background-color: transparent;
  transform: skewY(65deg);
}
input {
  &:checked + .switch-left {
    background-color: #3CCACE;
    color: #fff;
    bottom: 0px;
    left: 0.5em;
    height: 2.5em;
    width: 3em;
    transform: rotate(0deg) skewX(0deg);
    &::before {
      background-color: transparent;
      width: 3.0833em;
    }

    + .switch-right {
      background-color: #ddd;
      color: #888;
      bottom: 0.4em;
      right: 0.8em;
      height: 2.4em;
      width: 2.75em;
      transform: rotate(-15deg) skewX(-15deg);

      &::before {
        background-color: #ccc;
      }
    }
  }

  &:focus + .switch-left {
    color: #333;
  }

  &:checked:focus + .switch-left, &:focus + .switch-left + .switch-right {
    color: #fff;
  }

  &:checked:focus + .switch-left + .switch-right {
    color: #333;
  }
}

/* Keyboard Users */
