.Banner
  = image_tag 'bg-appBanner-pict.jpg', alt: 'バナー画像', height: '100%', width: '100%', class: 'Banner-Img'
  .Banner__Text
    %h1.Banner__Text__First だれでもかんたん、人生を変えるフリマアプリ
    %h1.Banner__Text__Second 今すぐ無料ダウンロード！
    .Banner__Text__Icon
      = image_tag 'AppStore.png', alt: 'アイコン1', height: '60px', width: '200px', class: 'Banner__Text__Icon__Icon1'
      = image_tag 'images.png', alt: 'アイコン2', height: '60px', width: '200px', class: 'Banner__Text__Icon__Icon2'
