.wrapper
  = render "front_suzuki"
  
  .main-field
    .main-field__photo
      .main-field__photo__content
        %h2.main-field__photo__content__title 
          %br
          人生を変えるフリマアプリ
        %p.main-field__photo__content__text
          FURIMAは誰でもかんたんに出品・購入できる
          %br
          フリマアプリです
        .main-field__photo__content__btn