* {
  box-sizing: border-box;
}


@mixin square{
  margin: 0 auto;
  margin-top: 5px;
  border-top : solid 3px gray;
  border-left :ridge  5px rgb(180, 177, 177);
  border-right: groove 5px rgb(180, 177, 177);
  border-bottom: groove 5px rgb(180, 177, 177);
}


h1{
  color:#fab566;
  font-size:30px;
  text-align: center;
  
}

label{
  width: 150px;
  height: 25px;
  font-size:16px;
}

.head_title{
  height: 60px ;
  width:700px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 20px;
  border: solid  #3CCACE;
  background-color: rgb(8, 136, 187);
}

.title_field{
  @include square;
  width:680px;
  height: 120px;
  &_box{
    width: 600px;
    height: 50px;
    display: flex;
    margin: 30px 30px 0 30px;
  }
}

.field_type{
  width:680px;
  height: 250px;
  @include square;
}

.field-input{
  width: 380px;
  height: 40px;
  margin-left: 20px;
  display: inline-block;
  &-full{
    width: 180px;
    height: 40px;
    margin-left: 20px;
    font-size: 16px;
  }
}

.input_errors{
  color: crimson;
  width: 620px;
  height: 25px;
  padding-left:250px ;

}

.birthday-select{
  display: flex;
  justify-content: space-around;
  width: 380px;
  margin-bottom: 5px;
  height: 30px;
  padding-left: 20px;
  font-size: 18px;
}

.indispensable {
  background:  rgb(8, 136, 187);
  height: 20px;
  width: 40px;
  margin-left: 8px;
  border-radius: 3px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

.actions{
  width: 700px;
  height: 100px;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  &_login{
    padding-top:50px ;
    text-align: center;
  }

}

.btn{
  width: 200px;
  height: 50px;
  background: #00ffff;
  border-radius:20px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  margin: 20px;
  
}

.btn:focus {
  outline:0;
}

