/*
.Pickup__Contents {
  background-color: #f8f8f8;
  height: auto;
  width: auto;
  &__Title {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
  }
  &__Subtitle {
    color: #3ccace;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
  }
  &__Box {
    height: 40vh;
    margin: 0 15%;
    background-color: whitesmoke;
  }
  &__Lists {
    height: 100%;
    display: flex;
  }
  &__List1 {
    @mixin PickupLists {
      width: 20%;
      &__Introduction {
        height: 40%;
        display: flex;
        justify-content: space-around;
        &__Left {
          display: flex;
          align-items: center;
          flex-direction: column;
          display: block;
          &__Name {
            padding-top: 10px;
            padding-bottom: 5px;
            display: block;
          }
          &__Plice {
            display: block;
            padding-bottom: 5px;
          }
          &__Tax {
            display: block;
            font-size: 15px;
          }
        }
        &__Right {
          display: flex;
          align-items: center;
          padding-bottom: 20px;
        }
      }
    }
    &__List2 {
      @include PickupLists;
    }
  }
}
*/
