* {
  box-sizing: border-box;
}

.wrapper{
  overflow: scroll;
  width: 100vw;
  height: 100vh;
}
//ここからフロント上部(鈴木実装分)→_front.suzuki.htmal.haml
.upper-field{
  padding: 0 60px;
  &__in{
    max-width: 1040px;
    width: 100vw;
    min-height: 82px;
    padding: 15px 0 0;
    margin : o auto;
    &__main{
      height: 50.55px;
      position: relative;
      display: flex;
      align-items: center;
      &__logo{
        margin-top: 15px;
        padding-bottom: 10px;
        margin-right: 30px;
        border-radius: 4px;
      }
      &__search-box{
        display: flex;
        &__btn{
          background-color:#2af118;
          width: 50vw;
          height: 40px;
        }
        &__btn__s{
          width: 36px;
          height: 40px;
          background-color: #3ccace;
        }
      }
    }
  }
  &__navigate{
    width: 100%;
    display: flex;
    font-size: 14px;
    margin-bottom:10px;
    &__left-side{
      display: flex;
      text-align: left;
      &__item{
        background-color: #fff;
      }
      &__item li{
        width: 120px;
        display: inline-block;
        list-style-type: none;
        position: relative;
      }
      &__item a{
        background-color: #fff;
        color: black;
        line-height: 40px;
        text-align: center;
        text-decoration: none;
        display: block;
      }
      &__item a:hover{
        color: orange;
      }
      &__item ul{
        margin: 0;
        padding: 0;
        display: none;
        position: absolute;
        z-index: 1;
      }
      &__item ul li{
        width: 250px;
        border-top: 0.5px solid rgb(235, 238, 241);
      }
      &__item ul li a{
        line-height: 35px;
        text-align: left;
        padding-left: 5px;
        font-weight: normal;
      }
      &__item ul li a:hover{
        color: orange;
      }
      &__item ul ul{
        margin: 0px;
        padding: 0px;
        display: none;
        position: absolute;
        top: -1px;
        left: 100%;
      }
      &__bland{
        padding: 0 0 0 16px;
      }
    }


    &__right-side{
      margin-left: auto;
      display: flex;
      &__login{
        color: #333;
        padding: 0 0 0 16px;
        line-height: 38px;
        a:hover{
          color: orange;
        }
        a {
          color: #333;
          text-decoration: none;
        }
      }
      &__register{
        color: #333;
        line-height: 38px;
        padding: 0 0 0 16px;
        a:hover{
          color: orange;
        }
        a {
          color: #333;
          text-decoration: none;
        }
      }
    }
  }
}
//ここまで

.main-field{
  background-color:white;
  height:560px;
  width:100vw;
  &__photo{
    height:560px;
    width:100wv;
    background-color:white;
  }
}

<<<<<<< Updated upstream
//ここからフロントフッター(鈴木実装分)→_under.suzuki.htmal.haml
=======

//ここからフロント下部(鈴木実装分)→_under.suzuki.htmal.haml
>>>>>>> Stashed changes
.under-field{
  padding: 60px 0;
  color: #fff;
  background-color: #272727;
  text-align: center;
  &__term{
    max-width: 840px;
    margin: 0 auto;
    display: flex;
    &__content{
      display: flex;
      flex-direction: column;
      width: calc(1 / 3 * 100%);
        margin: 0 2% 0 0;
      &__title{
        margin: 0 0 20px;
        font-size: 16px;
        font-weight: bold;
      }
      &__text{
        display: list-item;
        line-height: normal;
        a {
          color: #fff;
          font-size: 12px;
          text-decoration: none;
        }
      }
    }
    &__logo{
      max-width: 160px;
      width: 100%;
      margin: 0 auto;
      a {
        text-decoration: none;
        color: #fff;
        font-size: 14px;
      }
    }
  }
}
<<<<<<< Updated upstream
//ここまで
=======
>>>>>>> Stashed changes
