* {
  box-sizing: border-box;
}

.wrapper{
  overflow: scroll;
  width: 100vw;
  height: 100vh;
}

.main-field{
  background-color:white;
  height:560px;
  width:100vw;
  &__photo{
    height:560px;
    width:100wv;
    background-color:white;
  }
}