-if model.errors.any? 
  .alert
    %ul
      .product-form__errors__count= "#{@product.errors.full_messages.count}件のエラーが発生しました"
      -model.errors.full_messages.each do |message| 
        %li= message
        